*{
    margin: auto;
    padding: auto;
    font-family: "Ubuntu", serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

header,
footer {
    position: relative;
    background-color: #4b7151;
    color: white;
    text-align: center;
    padding: 2em 10%;
}

.Btn1 {
    position: absolute;
    top: 10px; /* Distance du haut */
    left: 10px; /* Distance du bord gauche */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s ease, border-radius 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #ff7f40;
    padding: 0 10px;
}

/* Plus sign */
.sign {
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* Text */
.text {
    white-space: nowrap; /* Empêche le texte de se casser */
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition: opacity 0.3s ease, width 0.3s ease;
    margin-left: 10px;
}

/* Hover effect */
.Btn1:hover {
    width: 125px;
    border-radius: 40px;
    left: 20px; /* Se déplace légèrement vers la droite au hover */
}

.Btn1:hover .sign {
    transform: translateX(-5px); /* Décale légèrement l'icône vers la gauche */
}

.Btn1:hover .text {
    opacity: 1;
}
